<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeGoBot.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="AuthType" value="0" />
    <add key="DefaultLatitude" value="40.417426" />
    <add key="DefaultLongitude" value="-3.683230" />
    <add key="DefaultAltitude" value="0" />
    <add key="GoogleRefreshToken" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="CatchPokemons" value="true" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<userSettings>
        <PokeGoBot.WPF.Properties.Settings>
                <setting name="DefaultLatitude" serializeAs="String">
                        <value>40.417426</value>
                </setting>
                <setting name="DefaultLongitude" serializeAs="String">
                        <value>-3.68323</value>
                </setting>
                <setting name="DefaultAltitude" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="GoogleRefreshToken" serializeAs="String">
                        <value />
                </setting>
                <setting name="Username" serializeAs="String">
                        <value />
                </setting>
                <setting name="Password" serializeAs="String">
                        <value />
                </setting>
                <setting name="CatchPokemons" serializeAs="String">
                        <value>1</value>
                </setting>
        </PokeGoBot.WPF.Properties.Settings>
    </userSettings>
</configuration>
